extends layout

block content
	div(class="slideanim scls-wrapper row")
		div(class='col-md-1')
			each site in socials
				a(href=site.url, class="m-1")
					div(class="row slideanim border rounded scls p-3 bg-grey") 
						span(class=site.class + " btn align-middle")
						span #{site.name}
		div(class='col-md-11')
			each site in projects
				a(href=site.url, class="m-1")
						div(class="row slideanim border rounded scls p-3 bg-grey") 
							span(class=site.class + " btn align-middle")
							span #{site.name}